[user]
	email = ossian.rajala@gofore.com
	name = Ossian Rajala

[alias]
	i = init
	s = status -s 		# View the current working tree status using the short format.
	p = push
	a = add
	c = commit -am
	b = branch

	ra = remote add
	po = push origin
	co = checkout
	
	pom = push origin master

	# List aliases.
	aliases = config --get-regexp alias

	# Show the user email for the current repository.
	whoami = config user.email
	
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"


# URL shorthands
[url "git@github.com:"]

	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

	insteadOf = "github:"

[url "git@gist.github.com:"]

	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

	insteadOf = "gist:"